<header>
<nav>
    <h1>{{pageTitle}}</h1>
    <a href="/Home">Home</a>
    <a href="/history">History</a>
    <a href="/diagnostic">Diagnostic</a>
    <form id="Emergency">
      <button>Emergency</button>
    </form>
  </nav>
</header>
