<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/bootsrap.min.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <title>Diagnostics Page</title>
</head>
<body class="reii327">
  {{> header}}
  <div id="time"> </div>
  <div>
   <p>This the Diagnostic Page</p>
   <button id="DiagnosticButton" type="button" name="RunDiagnostic">Run Diagnostic</button>
   <table id="StatusTable" style="width:100%">
     <tr>
       <th>Status</th>
       <th>Old Average</th>
       <th>New  Average</th>
       <th>Old Max</th>
       <th>New Max </th>
     </tr>
     <tr>
       <td id ="StatusDisplay"></td>
       <td id ="OldAvgDisplay"></td>
       <td id ="NewAvgDisplay"></td>
       <td id ="OldMaxDisplay"></td>
       <td id ="NewMaxtDisplay"></td>
     </tr>
   </table>
 </div>
<!-- This path is relative to ourer server.
The next command we are loading the labary. This will be used to inithate a connection-->
  {{> footer}}
  {{> script}}
  <script src="/js/diagnostics.js"></script>
</body>
</html>
