<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/bootsrap.min.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <title>History Page</title>
</head>
<body>
  {{> header}}
  <div id="time"> </div>
  <div>
   <p>This the History Page</p>

   <form id="ChosenData">
     <input type="text" name="FirstDate" placeholder="2018-11-09"/>
     <input type="text" name="SecondDate" placeholder="2018-11-10"/>
     <input  type="submit" name="button" value="Search"/>
   </form>

 </div>
<!-- This path is relative to ourer server.
The next command we are loading the labary. This will be used to inithate a connection-->
<div class="chart-container" style="position: relative; height:100vh; width:80vw">
    <canvas id="lineChart"></canvas>
</div>
{{> footer}}
{{> script}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script src="/js/history.js"></script>


</body>
</html>
