<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/bootsrap.min.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Home Page</title>
</head>
<body>
  {{> header}}
  <div>
   <h1>This the home Page</h1>
   <table id="StatusTable" style="width:100%">
     <tr>
       <th>Selected Temperature (&ordm;C) </th>
       <th>Current Temperature  (&ordm;C)</th>
       <th>System Mode</th>
       <th>System State</th>
       <th>System Current Usage (A) </th>
       <th>Connection State </th>
     </tr>
     <tr>
       <td id ="SetTemperatureDisplay"></td>
       <td id ="TemperatureDisplay"></td>
       <td id ="SystemStateDisplay"></td>
       <td id ="PowerDisplay"></td>
       <td id ="CurrentDisplay"></td>
       <td id ="connectionDisplay"></td>
     </tr>
   </table>

<div id="time"> </div>
   <form id="Settings">
     <input type="text" name="Temperature" placeholder="Temp"/>
     <input  type="submit" name="button" value="Update"/>
   </form>
   <h4>Set System Mode</h4>
   <button id="Active" type="button" name="AutoButton">Automatic</button>
   <button id= "InActive" type="button" name="InActiveButton">InActive</button>
 </div>
 <button id= "SelfTest" type="button" name="SelfTestButton">Self Test</button>

<!-- This path is relative to ourer server.
The next command we are loading the labary. This will be used to inithate a connection-->
  {{> footer}}
  {{> script}}
  <script src="/js/home.js"></script>
</body>
</html>
